body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #009E0B;
}

table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    width: 9vmin;
    height: 9vmin;
    border: 1px solid black;
    padding: 0;
    pointer-events: none;
}

img {
    width: 8vmin;
    height: 8vmin;
}

.start {
    color: white;
}

#score {
    display: flex;
    justify-content: space-around;
}

#score img {
    width: 3vmin;
    height: 3vmin;
}

.border-none {
    border: none;
    width: 3vmin;
    height: 3vmin;
}

.placeble {
    color: rgb(200, 200, 200);
    pointer-events: all;
}

.remove-scrolling {
    height: 100%;
    overflow: hidden;
}